# Maven artifacts
target/
!target/vprofile-*.war

# Git files
.git
.gitignore

# OS/system files
.DS_Store
*.swp

# IDE/editor folders
.idea/
.vscode/

# Logs and temp files
*.log
*.tmp
*.bak

# Docker-related artifacts (optional)
Dockerfile~

